body {
    background-color: mintcream;
    text-align: justify;
    line-height: 1.5;
}

h1, p {
    color: darkcyan;    
}

h2 {
    background-color: darkcyan;
    color: mintcream;
    font-family: 'Dancing Script', cursive;
}

img {
    width: 300px;
}

a {
    color: darkcyan;
}