html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: mintcream;
    text-align: justify;
    line-height: 2;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

h1 {
    text-align: center;
    padding: 1rem;
    color: darkcyan;
}

h1, p {
    color: darkcyan;    
}

p {
    padding: 1rem;
    text-align: left;
}

nav {
    background-color: darkcyan;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}

li {
    display: inline;
    padding: 1rem;
}

li a {
    color: mintcream;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

img {
    width: 170px;
    height: auto;
    border-radius: 15% 15% 15% 0;
}

main > img {
    float: left;
    margin: 1rem;
}

main {
    display: flow-root;
}

section {
    padding: 1rem;
}

a {
    display: inline;
    color: darkcyan;
    line-height: 4rem;
}

.sec2 > a {
    background-color: darkcyan;
    color: mintcream;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;

}

.main_kontakt {
    background-color: rgba(3, 134, 134, 0.205);
    text-align: center;
}

.sec2 > p {
    text-align: center;
    margin: -0.5rem;
}
